:root {
    --text: 224 235 227;
    --bg-1: 8 10 12;
    --bg-2: 16 20 24;
    --button-1: 92 194 214;
    --button-2: 222 224 237;
    --accent-1: 223 78 167;
    --accent-2: 92 214 145;
}

body {
    font-family: Quicksand, sans-serif;
    background-color: rgb(var(--bg-1));
    color: rgb(var(--text));
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(var(--accent-1));
}

main {
    margin: 2rem auto;
    padding: 1rem;
    width: clamp(20rem, 50vw, 80rem);
}

h1,
h2,
h3 {
    font-family: Monsterrat, sans-serif;
    font-weight: 800;
}

a {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
}

ul {
    list-style-type: none;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(var(--bg-1));
    padding: 0.5rem max(1rem, 5vw);
    font-size: 1.5rem;
}
